node_modules/
dist/
charts/
logs/
.env
.DS_Store
.vscode/
.idea/
charts/BTC_1h.png
charts/BTC_2h.png
charts/BTC_4h.png
charts/BTC_5m.png
charts/BTC_15m.png
charts/BTC_30m.png
charts/ETH_1h.png
charts/ETH_2h.png
charts/ETH_4h.png
charts/ETH_5m.png
charts/ETH_15m.png
charts/ETH_30m.png
charts/SOL_1h.png
charts/SOL_2h.png
charts/SOL_4h.png
charts/SOL_5m.png
charts/SOL_15m.png
charts/SOL_30m.png
charts/SUI_1h.png
charts/SUI_2h.png
charts/SUI_4h.png
charts/SUI_5m.png
charts/SUI_15m.png
charts/SUI_30m.png
charts/TRX_1h.png
charts/TRX_2h.png
charts/TRX_4h.png
charts/TRX_5m.png
charts/TRX_15m.png
charts/TRX_30m.png
